client/my-app/package-lock.json
server/.idea/
server/node_modules/
server/data/WiredTiger
server/data/WiredTiger.lock
server/data/WiredTiger.turtle
server/data/WiredTiger.wt
server/data/WiredTigerLAS.wt
server/data/_mdb_catalog.wt
server/data/collection-0--42716209886311188.wt
server/data/collection-2--42716209886311188.wt
server/data/collection-5--42716209886311188.wt
server/data/diagnostic.data/metrics.2017-07-21T22-54-46Z-00000
server/data/diagnostic.data/metrics.interim
server/data/index-1--42716209886311188.wt
server/data/index-3--42716209886311188.wt
server/data/index-4--42716209886311188.wt
server/data/index-6--42716209886311188.wt
server/data/index-7--42716209886311188.wt
server/data/journal/WiredTigerLog.0000000001
server/data/journal/WiredTigerPreplog.0000000001
server/data/journal/WiredTigerPreplog.0000000002
server/data/mongod.lock
server/data/sizeStorer.wt
server/data/storage.bson
