form > div{
    margin-bottom: 20px;
}

form > div > label{
    font-size: 16px;
    font-weight: bold;
}

form > div > label > div {
    font-weight: 200;
}

form > div > label > input{
    display: block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid greenyellow;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width:100%;
}

.validation-error {
    font-size: 14px;
    color: red;
}